div.app.window-app {


    header {
        background: url('../asset/images/fond_titre3.webp');
        background-size: 100% auto;
        background-position: center;
    }

    section.window-content {
        background: url('../asset/images/background.webp');
        background-position: center;
        background-size: 110% auto;

    }


}