div.app.window-app:not(.sidebar-popout),
div.app.window-app.sidebar-popout {

    input {
        user-select: all;
    }

    header {
        background: url('../asset/images/fond_titre3.webp');
        background-size: 100% auto;
        background-position: center;
    }

    section.window-content {
        background: url('../asset/images/background.webp');
        background-position: center;
        background-size: 110% 110%;

    }

    &.nocDialog {
        font-size: smaller;

        .form-group {
            box-shadow: 0 -5px 15px rgba(128, 128, 128, 0.5) inset;
            padding: 5px 8px;
        }

        .roll-dialog-header {
            background: url('../asset/images/fond_titre3.webp');
            background-size: 130% auto;
            background-position: center;

            img {
                margin-right: 10%;
                flex: 0.2;
                max-height: 4em;
                max-width: 4em;
                border: none;
                transform: rotate(-5deg);
                filter: drop-shadow(-5px 6px 4px #704e05a3);
            }
        }

        .niveauFinalRequis {
            text-align: center;
            text-shadow: 1px 2px 3px rgb(255, 255, 255),
                1px -3px 8px rgb(118, 55, 55);
            border-radius: 15px;

            color: rgb(75, 70, 26);

            &::after {
                width: 100%;
                height: 60px;
                content: "";
                background: url('../asset/images/separation1.webp');
                background-size: 100% 100%;
            }
        }

        .nbrDes {
            font-size: large;
            text-shadow: 1px 2px 3px rgb(255, 255, 255),
                1px -3px 8px rgb(118, 55, 55);
            color: black
        }

        input[type="checkbox"] {
            appearance: none;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 6px rgb(167, 26, 26),
                0px 0px 3px rgb(167, 26, 26)inset;


            &::after {
                display: block;
                width: 1.5em;
                height: 1.5em;
                //border: 3px solid black;
                content: "";
                background: url("../asset/images/jauge1.webp") no-repeat;
                background-size: 120% 120%;
                background-position: center;
                box-shadow: 0px 0px 3px black inset;
                border-radius: 50%;
                transform: scale(0.8) rotate(-180deg);

                filter: grayscale(1), saturate(0);
                box-shadow: 0px 0px 6px rgb(167, 26, 26),
                    0px 0px 3px rgb(167, 26, 26)inset;
                transition: 0.3s
            }

            &:checked {
                filter: grayscale(0);

                &::after {
                    filter: grayscale(0) saturate(200%) hue-rotate(10deg);
                    transform: scale(1.3) rotate(0deg);
                    box-shadow: 0px 0px 10px rgb(26, 167, 26),
                        0px 0px 3px rgb(26, 167, 26)inset;
                }
            }
        }
    }

    &.journal-sheet {
        nav.pages-list {
            color: black
        }

        li.directory-item {
            color: rgb(79, 79, 79);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.283) inset;

            &.active {
                color: black;
                box-shadow: 0px 10px 30px rgba(182, 162, 118, 0.461) inset;

            }
        }
    }

    strong {
        font-weight: bolder;
        text-shadow: 0 0 2px black
    }


}

div.app.window-app.sidebar-popout {
    section.window-content {
        background: url(../asset/images/fondidentiteconfidentiel.webp) no-repeat center center fixed;

    }
}

#chat-notification {
    position: absolute;
    left: -20px;

    @keyframes bounce {
        0% {
            transform: scale(0.1)
        }


        60% {
            transform: scale(3)
        }

        100% {
            transform: scale(1)
        }

    }

    &.notification-pip {
        color: rgb(255, 255, 94);
        z-index: +1;
        animation: bounce 0.4s ease-in-out;
        animation-iteration-count: 3;
    }

}