<h1>Choisissez un trait de noirceur</h1>

<ul>
    {{#each traits as |trait id|}}
    <li>
        <h4>
            <input type="checkbox" data-trait-id="{{id}}">
            {{trait.label}}
        </h4>
        <p>
            {{trait.description}}
        </p>
    </li>
    {{/each}}
</ul>