@font-face {
    font-family: "adler";
    src: url("../asset/fonts/adler.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../asset/fonts/theboldfont.ttf");
}

@font-face {
    font-family: "raleway";
    src: url("../asset/fonts/Raleway-SemiBold.ttf");
}

$font-primary: 'raleway',
sans-serif;
$font-secondary: 'adler',
sans-serif;
$font-bold:'bold',
sans-serif;

:root {
    --font-primary: 'bold',
        sans-serif;
    --font-secondary: 'adler',
        sans-serif;

}

body.system-noc {
    font-size: 1em;
    font-family: "raleway";

    h1,
    h2,
    h3,
    h4 {
        border: none;
        font-family: "bold";
        color: white;
        text-shadow: 0px 0px 3px black, 0px 0px 15px gray
    }

    ;

    h1 {
        background: url("../asset/images/fond_titre1.webp");
        background-position: center;
        background-size: 200% 200%;
    }

    h2 {
        background: url("../asset/images/fond_titre2.webp");
        background-position: center;
        background-size: 200% 200%;
    }

    h3 {
        background: url("../asset/images/fond_titre3.webp");
        background-position: center;
        background-size: 200% 200%;
    }

    ;

    h5 {
        margin: 5px;

    }

    button,
    .button {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.53) inset;
        padding: 0rem 1rem;
        margin: 0.1em;
        text-align: center;
        border: none;
        background: url('../asset/ui/fond_button.png');

        background-position: 50% 50%;
        background-size: 100% 100%;
        cursor: pointer;
        transition: 0.2s;
        text-shadow: 0px 0px 4px black;
        color: white;

        // filter: contrast(150%);

        &:hover {
            box-shadow: 0px 0px 15px rgba(254, 254, 254, 0.471) inset;

        }

        &:active {
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.471) inset;

        }

        a {
            color: unset;
            text-decoration: unset
        }
    }



    ;

}