@font-face {
    font-family: "adler";
    src: url("../asset/fonts/adler.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../asset/fonts/theboldfont.ttf");
}

@font-face {
    font-family: "raleway";
    src: url("../asset/fonts/Raleway-SemiBold.ttf");
}

$font-primary: 'raleway',
sans-serif;
$font-secondary: 'adler',
sans-serif;
$font-bold:'bold',
sans-serif;

:root {
    --font-primary: 'bold',
        sans-serif;
    --font-secondary: 'adler',
        sans-serif;

}

body.system-noc {
    font-size: 1em;
    font-family: "raleway";

    h1,
    h2,
    h3,
    h4 {
        border: none;
        font-family: "bold";
        color: white;
        text-shadow: 0px 0px 3px black, 0px 0px 15px gray
    }

    ;

    h1 {
        background: url("../asset/images/fond_titre1.webp");
        background-position: center;
        background-size: 200% 200%;
    }

    h2 {
        background: url("../asset/images/fond_titre2.webp");
        background-position: center;
        background-size: 200% 200%;
    }

    h3 {
        background: url("../asset/images/fond_titre3.webp");
        background-position: center;
        background-size: 200% 200%;
    }

    button,
    .button {
        padding: 3px;
        margin: 3px 10px;
        text-align: center;
        border: none;
        background: url('../asset/images/fondtalents.webp');
        background-position: center;
        background-size: 100% auto;
        cursor: pointer;
    }

    ;

}