@keyframes objetShadows {
    0% {
        box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.578) inset;

    }

    20% {
        box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.578) inset;
    }

    30% {
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0) inset;
    }

    60% {
        box-shadow: 0px -300px 500px rgba(0, 0, 0, 0.578) inset;
    }

    80% {
        box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.578) inset;
    }

    100% {
        box-shadow: 0px 0px 300px rgb(0, 0, 0) inset;
    }
}

@keyframes blur {
    0% {
        filter: blur(0px)
    }

    10% {
        filter: blur(1px)
    }

    12% {
        filter: blur(6px)
    }

    13% {
        filter: blur(0px)
    }

    100% {
        filter: blur(0px)
    }


}

@keyframes appear {
    0% {
        opacity: 0%
    }

    80% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }

}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: #392278;
    border: 1px solid var(--color-border-highlight);

}

aside#tooltip {
    font-size: 12px;
}


:root {
    --objetDieuColumns: 8;
    --objetDieuRows: 6;
}

html:has(.system-noc) {
    animation: 2s appear;
    z-index: 1;
    position: fixed;
    font-size: 100%;
}

#objetDieu {

    position: fixed;
    top: -10vh;
    left: -10vw;
    width: 120vw;
    height: 120vh;
    pointer-events: none;
    z-index: 10000;
    display: grid;
    grid-template-columns: repeat(var(--objetDieuColumns), 1fr);
    grid-template-rows: repeat(var(--objetDieuRows), 1fr);
    opacity: 1;

    .plaque {
        filter: grayscale(0.3) contrast(0.7) brightness(0.7);
        box-shadow: 0px 0px 15px black, 8px 40px 100px 100px rgb(0, 0, 0) inset;
    }

    #videoFaisceau,
    #videoFiel,
    #videoDroplet {
        position: fixed;
        top: -10vh;
        left: -10vw;
        width: 120vw;
        height: 120vh;


        video {
            height: 120vh;
            transition: 0.9s;
            //mix-blend-mode: darken;
            opacity: 0;

            &.visible {
                opacity: 1;
                transition: 0.9s;
                //filter: brightness(5)
            }
        }
    }


}

@import 'apps/window-app.scss';

figure#pause {
    bottom: 50vh;
    font-family: 'bold';
    background: none;
    animation: 6s linear 6s infinite alternate blur;



}

div.window-app.sidebar-popout {
    background: url(../asset/images/fondidentiteconfidentiel.webp);
    background-position: center;
    color: black;
    background-size: 300%;
}


#logo {
    width: 80px;
    height: 80px
}

#ui-left {
    @import 'apps/compteur';

    nav#controls {

        .scene-control,
        .control-tool {
            transition: 0.2s;
            margin-left: 3px;
            margin-bottom: 3px;
            box-shadow: 0px 0px 15px gray,
                1px -3px 30px black inset,
                1px 3px 18px white inset;
            border-radius: 50%;
            vertical-align: middle;
            max-height: 2rem;
            font-size: medium;
            background: url('../asset/images/background.webp') center 100%;
            color: black;
            text-shadow: 0px 0px 3px white;
            transform: scale(0.8);

            &.active,
            &:hover {
                transform: scale(1);
                box-shadow: 0px 0px 15px gray,
                    1px -3px 10px black inset,
                    1px 3px 18px white inset;
            }

        }
    }
}

#sidebar,
div.sidebar-popout {
    //min-width: min-content;
    background: none;
    box-shadow: none;
    overflow: visible;

    .chat-scroll {
        direction: ltr;
    }


    h1,
    h2,
    h3,
    h4 {
        border: none
    }


    .folder {

        h3,
        a {
            background-image: none;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(104, 104, 104);

        }
    }

    .playlists-sidebar .sound-control {
        color: rgb(47, 78, 47);

        &.inactive {
            color: rgb(134, 0, 0);
        }
    }

    .chat-sidebar .jump-to-bottom a {
        background-color: #d4d4d4;
        color: rgba(26, 19, 4, 0.726)
    }

    section.tab {
        background: url('../asset/images/fondtalents.webp') auto 100%;

    }

    nav.tabs {
        background: url(../asset/images/fondidentiteconfidentiel.webp);
        background-size: cover;
        background-position: 2% -60%;
        position: relative;
        padding: 0 0.3rem 0 0;

        menu {


            button[data-tab] {
                aspect-ratio: 1/1;
                position: relative;
                left: -0.2rem;
                transition: 0.3s;

                &::before {
                    opacity: 0;
                }


                &.active {
                    position: relative;
                    left: -18%;
                    box-shadow: -5px 0px 8px 5px rgba(160, 204, 2, 0.438);
                }

                &:hover {
                    left: -18%;
                }



                &[data-tab="chat"] {
                    background: url("../asset/ui/tab_chat.png");
                    background-size: 100% 100%;

                }

                &[data-tab="combat"] {
                    background: url("../asset/ui/combat_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="scenes"] {
                    background: url("../asset/ui/scenes_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="actors"] {
                    background: url("../asset/ui/actor_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="journal"] {
                    background: url("../asset/ui/journal_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="items"] {
                    background: url("../asset/ui/item_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="tables"] {
                    background: url("../asset/ui/table_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="playlists"] {
                    background: url("../asset/ui/playlist_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="cards"] {
                    background: url("../asset/ui/card_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="settings"] {
                    background: url("../asset/ui/setting_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="compendium"] {
                    background: url("../asset/ui/compendium_tab.png");
                    background-size: 100% 100%;

                }

                &[data-tab="macros"] {
                    background: url("../asset/ui/macro_tab.png");
                    background-size: 100% 100%;

                }


            }
        }
    }
}

#roll-privacy {
    background: url('../asset/images/fondidentiteconfidentiel.webp');
    background-size: cover;

}




#scenes {
    h3 {
        background: unset;
    }
}

#compendium,
#compendium-popout {
    .compendium-footer {
        color: rgb(63, 63, 63);
    }

    .status-icons {
        text-shadow: 0px 0px 5px white;
        color: black;
        top: 3px;
    }

    span.source {
        color: white
    }

    li.compendium:hover {
        .status-icons {
            text-shadow: 0px 0px 2px white;
            color: gray;

        }
    }
}

#combat,
#combat-popout {
    *:not(#context-menu) {
        background: none;
    }

    header.combat-tracker-header {
        vertical-align: middle;
        align-items: center;

        a.combat-button {
            color: black;
            box-shadow: 0px 0px 15px gray, 1px -3px 10px black inset;
            border-radius: 50%;
            vertical-align: middle;
            max-height: 2rem;
        }

    }

    ol#combat-tracker {
        li {

            background: rgba(0, 0, 0, 0.123);

            &.active {
                background: rgba(255, 216, 73, 0.375);

            }

            span,
            a {
                color: black;
                text-shadow: 0px 0px 3px white;

                &.active {
                    color: white;
                    text-shadow: 0px 0px 3px black;
                }
            }

            .token-initiative {
                a {
                    margin: 0
                }

                span.initiative {
                    position: relative;
                    top: 0.8em;
                    font-family: "bold";
                    text-shadow: 0px 0px 15px white;
                    background-color: rgba(128, 128, 128, 0.52);
                    padding: 0.3em;
                    border-radius: 50%;
                    box-shadow: 0px -5px 10px black;
                }

                background: url(../asset/images/jauge1.webp) no-repeat;
                background-size: contain;

            }


        }
    }
}

li.chat-message {
    box-shadow: 0px 0px 15px black;
    border: none;
    background: url(../asset/images/fondnotes.webp);
    background-size: cover;

    padding: 1rem 2rem;

    &.whisper {
        box-shadow: 0px 0px 100px 10px rgb(124, 102, 68) inset;
        background: url(../asset/images/fondmain.webp);
        background-position: center;
        background-size: cover;

        ::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../asset/images/tamponconfidentiel.webp) no-repeat;
            background-size: contain;
            opacity: 0.05;
        }

        &:hover ::after {
            opacity: 0;
        }


    }

    .chat-message-header {
        justify-content: space-between;
        background: url(../asset/images/fond_titre1.webp);
        background-size: 116% 200%;
        background-position: center;

        img {
            flex: 0.2;
            max-height: 4em;
            max-width: 4em;
            border: none;
            transform: rotate(-5deg);
            filter: drop-shadow(-5px 6px 4px #704e05a3);
        }

        h4 {
            text-align: center;
            padding-top: 5%
        }
    }


    .nocRoll {
        ul {
            list-style: none;
        }

        .dice {
            box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.427) inset;
            text-align: center;
            margin: 3px;
            padding: 6px;
            word-break: keep-all;
            flex: 0.05;


            &.success {
                box-shadow: 0px 0px 15px rgb(64, 131, 64) inset;

                &.relance {
                    box-shadow: 0px 0px 15px rgb(64, 131, 64) inset,
                        0px 0px 5px rgb(196, 187, 0);

                }
            }

            &.fiel {
                box-shadow: 0px 0px 15px black inset;
                color: white
            }
        }

        .reussite,
        .arme,
        .echec {
            appearance: none;
            min-height: 15px;
            background: url(../asset/images/separation.webp) no-repeat 50% 20%;
            background-size: 81% 60%;
            padding-top: 2em;
            text-align: center;

        }
    }

    .reussite {
        color: green
    }

    .echec {
        color: red
    }

    .arme {
        color: #935e4b
    }

    .inline-roll {
        i {
            display: none
        }
    }

    li.rollResult {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: right;
    }

    .dice-bonus-buttons {
        display: flex;
        justify-content: space-between;

        button.roll-dice-bonus {
            max-width: max-content;
        }

    }
}


.app .prosemirror {
    menu {
        display: flex;
        list-style: none;
        font-size: 8px;

        li {

            button[type="button"],
            button[type="button"].pm-dropdown span {
                text-shadow: none;

                max-width: min-content;
                font-size: 10px;
                padding: 0 3px;
                margin: unset;
            }
        }
    }

    strong {
        font-weight: bolder;
        text-shadow: 0 0 2px black
    }
}

input[type=range].noc-slider {


    height: 2em;
    color: #FFF;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #272727, #ffffff00);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 20%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.642) inset;
    padding: 0px;
    border-radius: 1em;

    &::-webkit-slider-thumb {
        width: 2em;
        height: 2em;
        margin-top: -0em;
        /* largeur du bord */
        border: none;
        box-shadow: none;
        background: url("../asset/images/jauge1.webp") no-repeat;
        background-size: 80% 80%;
        background-position: center;

    }

    &::-webkit-slider-runnable-track {
        height: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: rgba(116, 60, 60, 0);
        /* supprimé définie sur l'input */
    }



}

div#hotbar {


    background: url(../asset/ui/fond_macros.png);
    background-size: 100% auto;
    background-position: center;
}