@keyframes objetShadows {
    0% {
        box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.578) inset;

    }

    20% {
        box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.578) inset;
    }

    30% {
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0) inset;
    }

    60% {
        box-shadow: 0px -300px 500px rgba(0, 0, 0, 0.578) inset;
    }

    80% {
        box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.578) inset;
    }

    100% {
        box-shadow: 0px 0px 300px rgb(0, 0, 0) inset;
    }
}

@keyframes blur {
    0% {
        filter: blur(0px)
    }

    10% {
        filter: blur(1px)
    }

    12% {
        filter: blur(6px)
    }

    13% {
        filter: blur(0px)
    }

    100% {
        filter: blur(0px)
    }


}

@keyframes appear {
    0% {
        opacity: 0%
    }

    80% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }

}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: #392278;
    border: 1px solid var(--color-border-highlight);

}

aside#tooltip {
    font-size: 12px;
}


:root {
    --objetDieuColumns: 8;
    --objetDieuRows: 6;
}

body {
    animation: 2s appear;
}

#objetDieu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
    display: grid;
    grid-template-columns: repeat(var(--objetDieuColumns), 1fr);
    grid-template-rows: repeat(var(--objetDieuRows), 1fr);
    filter: contrast(60%) brightness(36%);
    opacity: 1;

    .plaque {
        box-shadow: 0px 0px 60px 15px black;
        filter: grayscale(0.8);
        border-radius: 5%;
    }
}

@import 'apps/window-app.scss';

figure#pause {
    bottom: 50vh;
    font-family: 'bold';
    background: none;
    animation: 6s linear 6s infinite alternate blur;



}

#interface {

    #logo {
        width: 80px;
        height: 80px
    }

    #ui-bottom {
        @import 'apps/compteur';
        max-height: var(--hotbar-height);
        display: flex;
        flex-direction: row;



    }

    #sidebar {
        background: url('../asset/images/fondidentiteconfidentiel.webp');
        background-position: center;
        color: black;
        background-size: 300%;

        &.collapsed {
            background-size: auto 200%;

        }

        h1,
        h2,
        h3,
        h4 {
            border: none
        }

        nav#sidebar-tabs {
            box-shadow: 0px 0px 15px black inset;

            a[data-tab],
            a.collapse {
                i {
                    color: black;

                }

                border-radius: 0px;
                margin: 0;
                padding: 0;
                border: none;

                &.active,
                &:hover {
                    box-shadow: 0px 0px 22px black;
                    text-shadow: 0px 0px 10px white;

                    i {
                        color: white;

                    }
                }
            }
        }

        #scenes {
            h3 {
                background: unset;
            }
        }

        .chat-message {
            box-shadow: 0px 0px 15px black;
            border: none;
            background: url('../asset/images/fondNotes.webp');
            background-position: 100% auto;
            background-size: cover;
            padding-left: 30px;

            .chat-message-header {
                justify-content: space-between;
                background: url(../asset/images/fond_titre1.webp);
                background-size: 116% 200%;
                background-position: center;

                img {
                    flex: 0.2;
                    max-height: 4em;
                    max-width: 4em;
                    border: none;
                    transform: rotate(-5deg);
                    filter: drop-shadow(-5px 6px 4px #704e05a3);
                }

                h4 {
                    text-align: center;
                    padding-top: 5%
                }
            }

            .nocRoll {
                .dice {
                    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.427) inset;
                    text-align: center;
                    margin: 3px;
                    padding: 6px;
                    word-break: keep-all;
                    flex: 0.05;


                    &.success {
                        box-shadow: 0px 0px 15px rgb(64, 131, 64) inset;

                        &.relance {
                            box-shadow: 0px 0px 15px rgb(64, 131, 64) inset,
                                0px 0px 5px rgb(196, 187, 0);

                        }
                    }

                    &.fiel {
                        box-shadow: 0px 0px 15px black inset;
                        color: white
                    }
                }
            }
        }

    }


}

.app .prosemirror {
    menu {
        display: flex;
        list-style: none;
        font-size: 8px;

        li {

            button[type="button"],
            button[type="button"].pm-dropdown span {
                max-width: min-content;
                font-size: 10px;
                padding: 0 3px;
                margin: unset
            }
        }
    }
}

input[type=range].noc-slider {


    height: 2em;
    color: #FFF;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #272727, #ffffff00);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 20%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.642) inset;
    padding: 0px;
    border-radius: 1em;

    &::-webkit-slider-thumb {
        width: 2em;
        height: 2em;
        margin-top: -0em;
        /* largeur du bord */
        border: none;
        box-shadow: none;
        background: url("../asset/images/jauge1.webp") no-repeat;
        background-size: 80% 80%;
        background-position: center;

    }

    &::-webkit-slider-runnable-track {
        height: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: rgba(116, 60, 60, 0);
        /* supprimé définie sur l'input */
    }



}