<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <section class="sheet-body">
    <header>
      <h1 class="form-group">
        <input type="text" name="name" value="{{actor.name}}">
      </h1>
      <div class="flexrow">
        <div class="profile-image">
          <img src="{{actor.img}}" data-edit="img"
            title="{{actor.name}}" />
        </div>

        <div class="description">
          <h2>description</h2>
          {{editor actor.system.description
          target="system.description"
          button=true editable=editable
          engine="prosemirror" collaborate=false}}
        </div>
      </div>

    </header>
    <div class="tab principal ">
      <div class="stats rouage">

        <!-- DOMAINES ET TALENTS -->
        <!-- DOMAINES ET TALENTS -->
        {{#each actor.system.domaines as |domaine domaineId|}}
        <div class="domaine {{domaineId}}">
          <h3 class="flexrow">
            <span class="domaine-niveau"
              data-key="system.domaines.{{domaineId}}.value">{{domaine.value}}
              <span class="domaine-control"><a class="fas
                  fa-add"></a> <a class="fas fa-minus"></a>
              </span>
            </span>
            <span>{{domaine.label}}</span>
          </h3>
          {{#each ../actor.system.talents as |groupTalent
          talentGroupName|}}
          {{#ifequal talentGroupName domaineId}}
          {{#each groupTalent as |talent talentId|}}
          <div class="flexrow">
            <span class="talent-niveau"
              data-key="system.talents.{{talentGroupName}}.{{talentId}}.niveau">{{talent.niveau}}
              <span class="talent-control"><a class="fas
                  fa-add"></a> <a class="fas fa-minus"></a>
              </span>
            </span>
            <a class="rollable roll-talent"
              data-talent-id="{{talentId}}"
              data-domaine-id="{{domaineId}}">
              <label for="{{talent.label}}">{{talent.label}}</label>
            </a>
          </div>
          {{/each}}
          {{/ifequal}}
          {{/each}}
        </div>
        {{/each}}

      </div>
      <div class="flexrow">
        <div class="rouage-reserves">
          {{#each actor.system.reserves as |reserve reserveId|}}
          {{#ifnotequal reserveId "singularite"}}
          {{#ifnotequal reserveId "faveurs"}}
          <div class="reserve {{reserveId}}">
            <h4>{{reserve.label}}

              <a class="setMax"
                data-tooltip="ajuster le max"
                data-reserve-name="{{reserve.label}}"
                data-reserve-property="system.reserves.{{reserveId}}.max">
                <i class="fas fa-cog"></i>
              </a>
            </h4>

            {{#repeat reserve.max}}
            <input type="checkbox"
              data-reserve-value="{{@index}}"
              data-reserve-property="system.reserves.{{reserveId}}.value"
              class="
              {{#ifequal @index 4}}step{{/ifequal}}
              {{#ifequal @index 7}}step{{/ifequal}}
              {{#ifequal @index 9}}step{{/ifequal}}
              {{#ifgteq @index reserve.max }}unavailable{{/ifgteq}}
              "
              {{#ifgt reserve.value @index}}checked{{/ifgt}} />
            {{/repeat}}

          </div>
          {{/ifnotequal}}
          {{/ifnotequal}}
          {{/each}}
          <!-- PERDITIONS-->
          {{#each actor.system.perditions as |perdition perditionId|}}
          <div class="reserve perdition {{perditionId}}">
            <h4>{{perdition.label}}

            </h4>

            {{#repeat 5}}
            <input type="checkbox"
              data-reserve-value="{{@index}}"
              data-reserve-property="system.perditions.{{perditionId}}.value"
              class="
              {{#ifequal @index 4}}step{{/ifequal}}
              {{#ifequal @index 7}}step{{/ifequal}}
              {{#ifequal @index 9}}step{{/ifequal}}
              {{#ifgteq @index perdition.max }}unavailable{{/ifgteq}}
              "
              {{#ifgt perdition.value @index}}checked{{/ifgt}} />
            {{/repeat}}

          </div>
          {{/each}}
        </div>
        <div class="items">
          <h3>inventaire</h3>

          <ul class="item-types">

            {{#each actor.itemTypes as |group groupIndex|}}
            {{#ifnotequal groupIndex "archetype"}}
            {{#ifnotequal groupIndex "thème"}}

            <ul class="item-list">
              <h3>{{groupIndex}}
                <a class="fas fa-add item-create" data-tooltip="créer un
                  item
                  :{{groupIndex}}" data-item-type="{{groupIndex}}"></a>
              </h3>
              {{#each group as |item index|}}
              <li class="flexrow item flexcol ability
                {{#if item.system.needQuantar}}
                {{#unless item.system.quantar}}
                unavalaible
                {{/unless}}
                {{/if}}"
                data-item-id="{{item.id}}">
                <div class="item-summary flexrow">
                  <div class="img">
                    <img src="{{item.img}}" alt="image de
                      {{item.name}}">
                  </div>
                  <h4 class="item-name">
                    <span><a class="roll-item" data-item-id="{{item._id}}">{{item.name}}</a></span>
                    {{#if item.system.needQuantar}}
                    <img
                      src="systems/noc/asset/default_icons/quantar.webp"
                      alt
                      class="needQuantar {{#if
                      item.system.quantar}}
                      quantarUsed{{/if}}">
                    {{/if}}
                  </h4>
                  <div class="item-control">

                    <a class="fas fa-edit item-open"
                      data-item-id="{{item.id}}"></a>
                    <a class="fas fa-trash item-delete"
                      data-item-id="{{item.id}}"></a>
                    <a class="fas fa-star item-fav
                      {{#if item.flags.noc.favItem}}
                      itemIsFav
                      {{/if}}
                      "
                      data-item-id="{{item.id}}"></a>
                  </div>

                </div>
                <div class="item-details">
                  <p>{{{item.system.description}}}</p>
                  {{#ifequal item.type "outil"}}

                  {{/ifequal}}

                </div>

              </li>
              {{/each}}
            </ul>

            {{/ifnotequal}}
            {{/ifnotequal}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>

</form>
