<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <section class="sheet-body">
    <header>
      <h1 class="form-group">
        <input type="text" name="name" value="{{actor.name}}">
      </h1>
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img"
          title="{{actor.name}}" />
        <div>
          <h2>description</h2>
          {{editor actor.system.description
          target="system.description"
          button=true editable=editable
          engine="prosemirror" collaborate=false}}
        </div>
      </div>



    </header>
    <div class="flexrow creature-specials">
      <div class="attaque">
        <h3>Attaque <a class="fa-light fa-dice-d10" id="roll-creature-attaque"></a>
        </h3>
        <h4>nom</h4>
        <input type="text" name="system.attaque.label"
          value="{{actor.system.attaque.label}}">
        <h4>degats</h4>
        <input type="text" name="system.attaque.degats"
          value="{{actor.system.attaque.degats}}">
      </div>
      <div class="special">
        <h3>spécial</h3>
        {{editor actor.system.special
        target="system.special"
        button=true editable=editable
        engine="prosemirror" collaborate=false}}

      </div>
    </div>
    <div class="tab principal ">
      <div class="stats rouage">

        <!-- DOMAINES ET TALENTS -->
        {{#each actor.system.domaines as |domaine domaineId|}}
        <div class="domaine {{domaineId}}">
          <h3 class="flexrow">
            <input type="number"
              name="system.domaines.{{domaineId}}.value"
              value="{{domaine.value}}"/>
            <span>{{domaine.label}}</span>
          </h3>
          {{#each ../actor.system.talents as |groupTalent
          talentGroupName|}}
          {{#ifequal talentGroupName domaineId}}
          {{#each groupTalent as |talent talentId|}}
          <div class="flexrow">
            <input
              name="system.talents.{{talentGroupName}}.{{talentId}}.niveau"
              value="{{talent.niveau}}" type="number">
            <a class="rollable roll-talent"
              data-talent-id="{{talentId}}"
              data-domaine-id="{{domaineId}}">
              <label for="{{talent.label}}">{{talent.label}}</label>
            </a>
          </div>
          {{/each}}
          {{/ifequal}}
          {{/each}}
        </div>
        {{/each}}
      </div>

      <div class="rouage-reserves">
        {{#each actor.system.reserves as |reserve reserveId|}}
        {{#ifnotequal reserveId "singularite"}}
        {{#ifnotequal reserveId "faveurs"}}
        <div class="reserve {{reserveId}}">
          <h4>{{reserve.label}}

            <a class="setMax"
              data-tooltip="ajuster le max"
              data-reserve-name="{{reserve.label}}"
              data-reserve-property="system.reserves.{{reserveId}}.max">
              <i class="fas fa-cog"></i>
            </a>
          </h4>

          {{#repeat reserve.max}}
          <input type="checkbox"
            data-reserve-value="{{@index}}"
            data-reserve-property="system.reserves.{{reserveId}}.value"
            class="
            {{#ifequal @index 4}}step{{/ifequal}}
            {{#ifequal @index 7}}step{{/ifequal}}
            {{#ifequal @index 9}}step{{/ifequal}}
            {{#ifgteq @index reserve.max }}unavailable{{/ifgteq}}
            "
            {{#ifgt reserve.value @index}}checked{{/ifgt}}/>
          {{/repeat}}

        </div>
        {{/ifnotequal}}
        {{/ifnotequal}}
        {{/each}}
        <!-- PERDITIONS-->
        {{#each actor.system.perditions as |perdition perditionId|}}
        <div class="reserve perdition {{perditionId}}">
          <h4>{{perdition.label}}

          </h4>

          {{#repeat 5}}
          <input type="checkbox"
            data-reserve-value="{{@index}}"
            data-reserve-property="system.perditions.{{perditionId}}.value"
            class="
            {{#ifequal @index 4}}step{{/ifequal}}
            {{#ifequal @index 7}}step{{/ifequal}}
            {{#ifequal @index 9}}step{{/ifequal}}
            {{#ifgteq @index perdition.max }}unavailable{{/ifgteq}}
            "
            {{#ifgt perdition.value @index}}checked{{/ifgt}}/>
          {{/repeat}}

        </div>
        {{/each}}
      </div>

    </div>
  </section>



</form>
