<form class="{{cssClass}} {{actor.type}} limitted flexcol" autocomplete="off">
	<section class="sheet-body">
		<div class="resume flexcol">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
			<div class="form-group character-name">
				<div>nom :</div>
				<h4>{{actor.name}}</h4>
			</div>
			<div class="form-group character-description">
				<div>description :</div>
				<p>{{{actor.system.description}}}</p>
			</div>

		</section>

	</form>
