div.noc.item.sheet {

  section.window-content {
    background: url(../asset/images/fondequipement.webp);
    background-size: cover;
    font-size: 12px;

    input.item-name {
      font-family: "bold";
      font-size: 24px;
      text-align: center;
      border: none;
      font-weight: bolder;
      color: var(--color-noc-title);
    }

    input[type="checkbox"] {
      margin: 0 5px;
      padding: 0;
      max-height: 12px;
      max-width: 10px;
      border-radius: 50%;

      cursor: pointer;

    }

    input[type="number"] {
      background-color: white;
      border-radius: 50%;
      text-align: center;
      max-width: 22px;
    }

    .arch-stats {

      div.flexrow,
      div.flexcol {
        justify-content: flex-start;


        span {
          max-width: 50%;
        }

        input[type="number"] {
          position: relative;
          margin-right: 10px;
          top: -5px
        }
      }
    }
  }
}