div.noc.item.sheet {

  section.window-content {
    background: url(../asset/images/fondequipement.webp);
    background-size: cover;
    font-size: 12px;


    nav.sheet-tabs {
      margin: 0;
      max-height: 3em;

      a.item {
        background: url(../asset/images/fondmain.webp);
        background-size: cover;
        flex: 1;
        color: rgb(255, 255, 255);
        box-shadow: 0px 0px 30px black inset;
        transition: all 0.3s;

        &:hover,
        &.active {

          color: white;
          text-shadow: 0px 0px 3px black;
        }

        &:hover {
          box-shadow: 0px 0px 15px black inset;

        }

        &.active {
          color: white;
          font-size: 2em;
          text-shadow: 0px 0px 4px black,
            0px 0px 12px black;
          box-shadow: 0px 0px 0px black inset;

        }
      }
    }


    input.item-name {
      font-family: "bold";
      font-size: 24px;
      text-align: center;
      border: none;
      font-weight: bolder;
      color: var(--color-noc-title);
    }

    input[type="checkbox"] {
      margin: 0 5px;
      padding: 0;
      max-height: 12px;
      max-width: 10px;
      border-radius: 50%;

      cursor: pointer;

    }

    input[type="number"] {
      background-color: white;
      border-radius: 50%;
      text-align: center;
      max-width: 22px;
    }

    .img-container {
      flex: 0.8;

      img {
        width: 80%;
        margin-left: 10%
      }
    }

    .talents-mineurs-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      h5 {
        font-size: large;
      }

      .domaine-container {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.307);
        padding: 0;

        div.flexrow {
          border-bottom: 1px rgba(128, 128, 128, 0.368) solid;
        }
      }

    }

    .arch-stats {
      flex: 0.6;

      div.flexrow,
      div.flexcol {
        justify-content: flex-start;


        span {
          max-width: 50%;
        }

        input[type="number"] {
          position: relative;
          margin-right: 10px;
          top: -5px
        }
      }
    }
  }
}