div.noc.sheet.actor {
    margin: 0;

    input {
        user-select: all;
    }

    form.personnage,
    form.cabale {
        max-height: fit-content;
        filter: grayscale(0.5)
    }


    a:hover {
        text-shadow: unset;
    }

    .tox {
        .tox-editor-container {
            background: var(--color-bg-btn-minor-active);
        }

        .tox-edit-area {
            padding: 0 8px;
        }
    }



    section.window-content {
        padding: 0;
        position: relative;
        background: url(../asset/images/fondmain.webp), contain;

        max-height: min-content;
        line-height: 1rem;
        font-size: 0.6rem;

        nav.sheet-tabs {
            margin: 0;
            max-height: 3em;

            a.item {
                background: url(../asset/images/fondmain.webp);
                background-size: cover;
                flex: 1;
                color: rgb(255, 255, 255);
                box-shadow: 0px 0px 30px black inset;
                transition: all 0.3s;

                &:hover,
                &.active {

                    color: white;
                    text-shadow: 0px 0px 3px black;
                }

                &:hover {
                    box-shadow: 0px 0px 15px black inset;

                }

                &.active {
                    color: white;
                    font-size: 2em;
                    text-shadow: 0px 0px 4px black,
                        0px 0px 12px black;
                    box-shadow: 0px 0px 0px black inset;

                }
            }
        }

        section.sheet-body {

            height: 100%;
            background: url(../asset/images/fondequipement.webp);
            filter: grayscale(0.3);

            img {
                border: none
            }



            input[type="number"] {
                background-color: white;
                border-radius: 50%;
                text-align: center;
                max-width: 22px;
            }

            div.tab.principal {

                .stats {
                    .fond {
                        grid-row: 1/11;
                        grid-column: 1/11;
                        transition: 120s;
                        transform-origin: center;
                        background: url(../asset/images/fondStats.webp)no-repeat;
                        background-size: 60% auto;
                        background-position: 50% 50%;

                        &:hover {
                            transform: rotate(360deg);

                        }
                    }



                    line-height: 0.5em;
                    display: grid;
                    grid-template-columns: repeat(11, 10%);
                    grid-template-rows: repeat(9, 10%);
                    gap: 3px 0px;
                    font-family: 'bold';
                    padding: 2% 1%;


                    .domaine {
                        padding: 0px 6px 6px;
                        transition: 0.2s;
                        box-shadow: 0px 0px 30px black;
                        border: 3px solid black;
                        background: url(../asset/images/fondmain.webp);
                        background-position: center;
                        opacity: 0.95;
                        z-index: +1;

                        &:hover {
                            transform: scale(1.1);
                            z-index: 1;
                            box-shadow: 0px 10px 33px 3px black;

                        }


                        input {
                            position: relative;
                            flex: 0.3;
                            width: 12px;
                            height: 1.3rem;
                            max-width: 12px;
                            top: -8px;
                            margin-right: 15px;
                            ;
                        }

                        h3 {
                            position: relative;
                            border: none;
                            filter: grayscale(1);
                            width: 120%;
                            padding-top: 5px;
                            left: -10%;
                            top: -5%;
                            background-size: 200% 200%;
                        }

                        &.vie {
                            grid-row: 1/3;
                            grid-column: 3/5;
                        }

                        &.erudition {
                            grid-row: 1/3;
                            grid-column: 7/9;
                        }

                        &.technique {
                            grid-row: 4/6;
                            grid-column: 9/11;
                        }

                        &.action {
                            grid-row: 7/9;
                            grid-column: 8/10;
                        }

                        &.statut {
                            grid-row: 8/10;
                            grid-column: 5/7;
                        }

                        &.ame {
                            grid-row: 7/9;
                            grid-column: 2/4;
                        }

                        &.social {
                            grid-row: 4/6;
                            grid-column: 1/3;
                        }

                        label {
                            font-size: smaller;
                            line-height: 1em;
                        }

                    }



                    .reserve {
                        background: url(../asset/images/fondmain.webp);
                        background-position: center;
                        background-size: cover;
                        box-shadow: 0px 0px 40px black;
                        margin: 3px;
                        padding: 0px 13px;
                        border-radius: 10px;
                        position: relative;
                        max-width: 70%;
                        margin-left: 15%;
                        opacity: 0.95;
                        height: min-content;
                        padding-bottom: 6px;

                        &.perdition {
                            .statut {
                                font-size: 8px;
                                line-height: 8px;
                                text-shadow: 0px 0px 6px red
                            }

                            input[type="checkbox"] {


                                &.step {

                                    &::after {
                                        width: 12px;
                                        height: 12px;
                                        background-color: rgba(176, 60, 60, 0.716);
                                        border-radius: 50%;
                                        box-shadow: 0px 0px 5px rgba(22, 21, 33, 0.497) inset;
                                    }



                                }

                                &[checked]::after {
                                    content: "";
                                    display: block;
                                    width: 12px;
                                    height: 12px;
                                    box-shadow: 1px -2px 5px 3px rgb(105, 0, 0) inset;


                                }


                            }
                        }

                        h4 {
                            position: relative;
                            top: 5px;
                            text-align: center;
                            color: black;
                            text-shadow: 0px 0px 2px white;
                        }

                        input[type="checkbox"] {
                            margin: 0;
                            padding: 0;
                            max-height: 12px;
                            max-width: 10px;
                            border-radius: 50%;
                            -webkit-appearance: none;
                            appearance: none;
                            cursor: pointer;
                            z-index: -1;



                            &::after {
                                content: "";
                                display: block;
                                width: 12px;
                                height: 12px;
                                background-color: rgba(255, 255, 255, 0.189);
                                border-radius: 50%;
                                box-shadow: 0px 0px 5px black inset;
                            }

                            &[checked]::after {
                                content: "";
                                display: block;
                                width: 12px;
                                height: 12px;
                                box-shadow: 1px -2px 5px 3px black inset;
                            }

                            &.unavailable {
                                pointer-events: none;
                                opacity: 0.4;

                                &::after {
                                    content: "";
                                    display: block;
                                    width: 12px;
                                    height: 12px;
                                    box-shadow: 1px -2px 5px 3px rgba(87, 7, 7, 0.759) inset;
                                }
                            }
                        }

                        &.singularite {
                            grid-row: 4/5;
                            grid-column: 7/9;
                            top: -25%
                        }

                        &.vecu {
                            grid-row: 3/4;
                            grid-column: 5/7;
                            top: -25%;
                        }

                        &.espoir {
                            grid-row: 4/5;
                            grid-column: 3/5;
                            top: -25%;


                        }

                        &.faveurs {
                            display: none
                        }

                        &.trauma {
                            grid-row: 6/7;
                            grid-column: 2/4;
                            left: 25%;
                            top: -15%
                        }

                        &.noirceur {
                            grid-row: 7/8;
                            grid-column: 4/6;
                            top: -15%;
                        }

                        &.traque {
                            grid-row: 7/8;
                            grid-column: 6/8;
                            top: -15%;
                        }

                        &.blessures {
                            grid-row: 6/7;
                            grid-column: 8/10;
                            left: -25%;
                            top: -15%
                        }

                    }

                    &.rouage {
                        display: grid;
                        flex-direction: row;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-gap: 1rem;

                        .domaine {
                            min-width: 30%;
                            grid-row: unset;
                            grid-column: unset;
                            position: relative;
                            top: unset;
                            left: unset;
                            border: unset;


                            &:hover {
                                z-index: +100;
                                transform: unset
                            }
                        }

                    }
                }

                .rouage-reserves {
                    &:not(.autre) {
                        flex: 0.4;
                    }

                    input[type="checkbox"] {
                        margin: 0;
                        padding: 0;
                        max-height: 12px;
                        max-width: 10px;
                        border-radius: 50%;
                        -webkit-appearance: none;
                        appearance: none;
                        cursor: pointer;
                        z-index: -1;



                        &::after {
                            content: "";
                            display: block;
                            width: 12px;
                            height: 12px;
                            background-color: rgba(255, 255, 255, 0.189);
                            border-radius: 50%;
                            box-shadow: 0px 0px 5px black inset;
                        }

                        &[checked]::after {
                            content: "";
                            display: block;
                            width: 12px;
                            height: 12px;
                            box-shadow: 1px -2px 5px 3px black inset;
                        }

                        &.unavailable {
                            pointer-events: none;
                            opacity: 0.4;

                            &::after {
                                content: "";
                                display: block;
                                width: 12px;
                                height: 12px;
                                box-shadow: 1px -2px 5px 3px rgba(87, 7, 7, 0.759) inset;
                            }

                        }
                    }
                }


                .resume {
                    flex: 0.3;
                    padding: 6px;
                    box-shadow: -30px 0px 100px black;
                    height: 100%;
                    overflow: scroll;

                    background: url(../asset/images/fondequipement.webp);



                    &::before {
                        content: " ";
                        width: 100%;
                        height: 60px;
                        background: url(../asset/images/separation.webp);
                        background-size: 100% 100%;

                    }



                    .profile-img {
                        width: 90%;
                        margin-left: 5%;
                        height: auto;
                        border: none;
                        transform: rotate(-5deg);



                    }



                    .form-group {

                        justify-content: space-between;



                        div {
                            flex: 0.6;
                            vertical-align: middle;
                        }

                        input[type="text"] {
                            flex: 1.2;
                            display: inline;
                            width: 100%;
                            border: none;


                        }

                        &.character-name {
                            position: relative;
                            top: -3em;
                            left: 0.5em;
                            line-height: 3em;

                            flex-direction: column;
                            text-align: center;
                            font-family: 'adler';
                            font-size: larger;
                            margin: 0;

                            * {
                                width: 90%;
                                background: url('../asset/images/fondDomaine.webp');
                                background-size: 130% 200%;
                                background-position: center;
                                text-shadow: 0px 0px 5px rgb(255, 0, 0);
                                color: white
                            }

                            input {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .favItems {
                    position: absolute;
                    bottom: 2%;
                    z-index: +1;
                    background: url(../asset/images/fondidentiteconfidentiel.webp);
                    background-size: 300%;
                    background-position: center;

                    width: 100%;

                    ul.item-list {
                        position: relative;
                        transition: 0.3s;
                        padding: 0;
                        top: 0;
                        max-height: 0px;
                        overflow: hidden;
                    }

                    &:hover ul.item-list {
                        padding: 10px;
                        max-height: 100px;
                        overflow: hidden;
                        top: -100%;
                    }

                }

            }

            div.tab.description {
                background: url('../asset/images/fondidentite.webp');
                background-size: 200%;
                background-position: 50% 50%;

                padding-bottom: 10%;

                height: 100%;

                h2 {
                    flex: 0.1;

                }


                .signalement {
                    padding: 1%;

                    .form-group {
                        opacity: 0.8;
                        background: url(../asset/images/fondidentiteconfidentiel.webp);
                        background-position: center;

                        h2 {
                            font-family: adler;
                            background: none;
                            border: none;
                            text-shadow: 0px 0px 4px rgb(0, 0, 0);
                            ;
                        }

                        .editor {
                            button {
                                width: min-content;
                                height: min-content;
                                margin: 2px;
                                padding: 0;
                                background: unset;
                            }
                        }
                    }
                }

                .contacts,
                .cabale {
                    h2 {
                        text-align: center;
                    }

                    #resetFaveurs {

                        justify-self: flex-end;
                        font-size: 2em;
                        text-align: right;
                        text-shadow: 0px 0px 5px red
                    }

                    .contact {
                        .empty-contact {
                            padding: 5%
                        }

                        .faveurContact {
                            max-width: 2em;
                            max-height: 2em;
                            min-width: 2em;
                            min-height: 2em;
                            background: url('../asset/default_icons/contact.webp');
                            background-size: 100% 100%;
                            cursor: pointer;


                            &.faveur-used {
                                filter: grayscale(0.8) contrast(50%);
                                pointer-events: none;
                                transform: scale(0.7);
                            }
                        }

                        img {
                            max-width: 20%;
                            flex: 0.2;
                        }

                        font-size: smaller;
                        box-shadow: 0px 5px 8px black;
                    }

                    padding:8px;
                    margin:1%;
                    box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.42);
                }

                .faveur {
                    max-width: 3em;
                    max-height: 3em;
                    min-width: 3em;
                    min-height: 3em;
                    background: url('../asset/default_icons/contact.webp');
                    background-size: 100% 100%;
                    cursor: pointer;

                    &.faveur-used {
                        filter: grayscale(0.8) contrast(60%);
                        pointer-events: none;
                        transform: scale(0.7);
                    }
                }
            }

            div.tab.items,
            div.tab.principal {
                .quantarQty {
                    margin-top: 2%;
                    position: relative;
                    align-items: center;

                    img {
                        margin: 0 3px;
                        max-height: 3em;
                        max-width: 3em;

                        &.unavalaible {
                            filter: grayscale(1)
                        }
                    }
                }

                div.img img {
                    max-height: 2em;
                }

                ul.item-types {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    padding: 0;
                }

                ul.item-list {
                    h3 {
                        text-align: center;
                    }

                    padding: 10px;
                    box-shadow: 0px 0px 30px black;


                    li.item {
                        background: url('../asset/images/fondidentite.webp');
                        background-size: 300% auto;
                        background-repeat: no-repeat;
                        background-position: 75% 50%;
                        margin-bottom: 4px;
                        padding-left: 5%;


                        &.unavalaible {
                            box-shadow: 0px 0px 70px rgba(84, 0, 0, 0.374) inset;

                        }

                        div.img img {

                            max-height: 4em;
                        }


                        div.item-details {
                            max-height: 1px;
                            overflow: hidden;


                        }

                        &.expanded div.item-details {
                            max-height: 100px;
                        }

                        div.item-control {
                            align-self: flex-start;
                            text-align: right;

                            .itemIsFav {
                                color: rgb(0, 187, 0)
                            }
                        }

                        img.needQuantar {
                            max-height: 1.5em;
                            box-shadow: 0px 0px 8px rgb(83, 0, 0);
                            filter: grayscale(0.7);
                            border-radius: 30%;

                            &.quantarUsed {
                                filter: grayscale(0);
                                box-shadow: 0px 0px 5px rgb(210, 206, 1);
                            }
                        }


                    }
                }

            }
        }
    }

    &.rouage,
    &.autre,
    &.creature {
        .window-content {
            header {
                background: none;

                h1 {
                    input {
                        color: white;
                        text-align: center;
                        font-size: x-large;
                    }

                }

                img {
                    max-width: 30%;
                }
            }

            section.sheet-body div.tab.principal .stats.rouage .domaine {

                &.statut,
                &.ame,
                &.social {
                    left: 50%
                }
            }


        }



    }

    &.creature {
        div.creature-specials {
            background: url(../asset/images/fondequipement.webp);

            h3 {
                background: none;
            }

        }

        .rouage-reserves {
            text-align: center
        }

    }


    &.autre {
        .window-content {
            filter: invert(90%) grayscale(1);

            img {
                margin: 5px;
                filter: contrast(100%) invert(80%) grayscale(0);
            }

            h4 {
                color: black;
                text-shadow: none
            }

            div.energie-noire {


                background: url(../asset/images/fondequipement.webp);

                h3 {
                    background: none;
                }

                div.rouage-reserves.autre {
                    text-align: center;
                }



                #surcharge {
                    border-radius: 3em;
                    justify-content: center;
                    display: block;
                    border: 1px solid black;
                    max-width: max-content;
                    padding: 0 1em;
                    text-shadow: none;

                    &.active {
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.752) inset
                    }
                }


            }
        }

    }

    &.cabale {
        .members {
            ul.item-list {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(4, 1fr);

                li {
                    position: relative;
                    background: url(../asset/default_icons/cabale.webp);
                    background-position: center;
                    background-size: cover;
                    text-align: center;
                    margin-top: 5px;
                    justify-content: center;
                    min-height: 30%;


                    div.img {
                        position: relative;
                        flex: 1.5;
                        max-width: 80%;
                        left: 10%;
                    }

                    h4.item-name {
                        position: absolute;
                        transform-origin: 50% 100%;
                        bottom: 5px;
                        font-size: larger;
                        background: url(../asset/images/fondmain.webp);
                        background-size: 100% auto;
                        box-shadow: 0px 8px 15px black;

                        width: 100%
                    }
                }
            }

        }
    }
}