<form class="{{cssClass}}" autocomplete="off">


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <input class="item-name" name="name" type="text" value="{{document.name}}"
      placeholder="Name"/>
    <img class="item-img" src="{{document.img}}" data-edit="img"
      title="{{document.name}}" />



    <div class="form-group">
      <h4>description</h4>
      {{editor document.system.description target="system.description"
      button=true editable=editable
      engine="prosemirror" collaborate=false}}
    </div>

    <div class="form-group">
      <h4>nécessite un quantar</h4>
      <input name="system.needQuantar" type="checkbox" data-dtype="Boolean"
        {{checked document.system.needQuantar}}>
    </div>
    <div class="form-group">
      <h4>limitée ?</h4>
      <input name="system.limite" value="{{document.system.limite}}"
        type="number">
    </div>
    <div class="form-group">
      <h4>utilisations</h4>
      <input name="system.utilisations"
        value="{{document.system.utilisations}}"
        type="number">
    </div>
    <div class="form-group">
      <h4>portée</h4>
      <input name="system.portee" value="{{document.system.portee}}"
        type="number">
    </div>
    <div class="form-group">
      <h4>valeur</h4>
      <input name="system.valeur" value="{{document.system.valeur}}"
        type="number">
    </div>
    <div class="form-group">
      <h4>dégats</h4>
      <input name="system.valeur" value="{{document.system.valeur}}"
        type="text"> </div>
    <div class="form-group">
      <h4>effet spécial</h4>
      {{editor document.system.effetSpecial target="system.effetSpecial"
      button=true editable=editable
      engine="prosemirror" collaborate=false}}
    </div>

  </section>
</form>
