<form class="{{cssClass}}" autocomplete="off">



  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <input class="item-name" name="name" type="text" value="{{document.name}}"
      placeholder="Name"/>
    <img class="item-img" src="{{document.img}}" data-edit="img"
      title="{{document.name}}" />





    <div class="tab details" data-group="primary" data-tab="details">
      <div class="form-group">
        <h4>description</h4>
        {{editor document.system.description target="system.description"
        button=true editable=editable
        engine="prosemirror" collaborate=false}}
      </div>


      <div class="form-group">
        <h4>traits</h4>
        <textarea name="system.traits" placeholder="{{document.system.traits}}">{{document.system.traits}}</textarea>
      </div>
      <div class="form-group">
        <h4>score d'armure</h4>
        <input name="system.armure"
          value="{{document.system.armure}}"
          type="number">
      </div>

      <div class="form-group">
        <h4>valeur</h4>
        <input name="system.valeur" value="{{document.system.valeur}}"
          type="number">
      </div>

    </div>

  </section>
</form>
