<form class="{{cssClass}}" autocomplete="off">
  {{log this}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <h1>
      <input class="item-name" name="name" type="text" value="{{document.name}}"
        placeholder="Name"/>
    </h1>

    <div class="tab description" data-group="primary" data-tab="description">
      <p>{{{document.system.description}}}</p>
    </div>

        <div class="flexrow">
          <div>
            <img class="item-img" src="{{document.img}}" data-edit="img"
          title="{{document.name}}" />
          </div>

          <div class="description">
            <h4>description</h4>
                {{editor item.system.description target="system.description"
                button=true editable=editable
                engine="prosemirror" collaborate=false}}
         </div>
         <div class="stat">
              <h4>Talent Majeur (niv 2)</h4>
              <select name="system.talentMajeur">
                {{#each systemTemplate.Actor.templates.talents.talents as
                |domaine
                domaineId|}}
                <optgroup label="{{domaineId}}">
                  {{#each domaine as |talent talentId|}}

                  <option value="{{talentId}}"
                    {{#ifequal @root.item.system.talentMajeur talentId}}
                    selected
                    {{/ifequal}}>
                    {{talent.label}}
                  </option>
                  {{/each}}
                </optgroup>
                {{/each}}
              </select>
         
          <div class="flexcol affinites">

              <h4>affinités</h4>
              <div class="flexcol">

                {{#each item.system.affinite as |domaine domaineId|}}
                <div class="flexrow">
                  <input name="system.affinite.{{domaineId}}.active"
                    class="affinite-check"
                    type="checkbox"
                    {{checked domaine.active }}>
                  <span>{{domaineId}}</span>
                  <input type="number"
                    name="system.affinite.{{domaineId}}.value"
                    value="{{domaine.value}}"
                    class="affinite-value">

                </div>
                {{/each}}
              </div> 
           
            </div>
         </div>

        
        </div>


      </div>

      
    </div>

    <div class="talents-mineurs">
      <h4>talents mineurs (niv 1)</h4>
      <div class="flexrow">
        {{#each systemTemplate.Actor.templates.talents.talents as |domaine
        domaineId|}}
        <div class="flexcol">
          <h5>{{domaineId}}</h5>
          {{#each domaine as |talent talentId|}}
          <div class="flexrow">
            <input value="true"
              class="talent-mineur" type="checkbox"
              name="system.talentsMineurs.{{talentId}}.value"
              data-talent="{{talentId}}"/>
            <label for="system.talentsMineurs.{{talentId}}">{{talent.label}}</label>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>



  </section>
</form>
