<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <input class="item-name" name="name" type="text" value="{{document.name}}"
      placeholder="Name"/>
    <img class="item-img" src="{{document.img}}" data-edit="img"
      title="{{document.name}}" />


    <div class="details" data-group="primary" data-tab="details">
      <div class="form-group">
        <h4>Description</h4>
        {{editor document.system.description target="system.description"
        button=true editable=editable
        engine="prosemirror" collaborate=false}}
      </div>

      <div class="form-group">
        <h4>Arme maitrisée ?</h4>
        <input name="system.maitrise" type="checkbox" data-dtype="Boolean"
          {{checked document.system.maitrise}}>
      </div>

      <div class="form-group">
        <h4>Nécessite un quantar ?</h4>
        <input name="system.needQuantar" type="checkbox" data-dtype="Boolean"
          {{checked document.system.needQuantar}}>
      </div>

      <div class="form-group">
        <h4>A distance ?</h4>
        <input name="system.adistance" type="checkbox" data-dtype="Boolean"
          {{checked document.system.adistance}}>
      </div>
      <div class="form-group">
        <h4>Valeur</h4>
        <input name="system.valeur" value="{{document.system.valeur}}"
          type="number">
      </div>
      <div class="form-group">
        <h4>Dégats</h4>
        <input name="system.degats" value="{{document.system.degats}}"
          type="String">
      </div>
      <div class="form-group">
        <h4>Traits</h4>
        <input name="system.traits" value="{{document.system.traits}}"
          type="String">
      </div>
      <div class="form-group">
        <h4>Type de munitions</h4>
        <input name="system.munitions.type"
          value="{{document.system.munitions.type}}"
          type="String">
      </div>
      <div class="form-group">
        <h4>Quantité de munition</h4>
        <input name="system.munitions.quantite"
          value="{{document.system.munitions.quantite}}"
          type="Number">
      </div>
    </div>

  </section>
</form>
