<form class="{{cssClass}}" autocomplete="off">
  {{log this}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <h1>
      <input class="item-name" name="name" type="text" value="{{document.name}}"
        placeholder="Name"/>
    </h1>

    <div class="tab description" data-group="primary" data-tab="description">
      <p>{{{document.system.description}}}</p>
    </div>

        <div class="flexrow">
          {{#each item.system.talentsMineurs as |domaine domaineId|}}
          <div class="flexcol">
            <h5>{{domaineId}}</h5>
            {{#each domaine as |talent talentId|}}
            <div class="flexrow">
              <input value="true"
                class="talent-mineur" type="checkbox" data-domaine="{{domaineId}}" data-talent="{{talentId}}" {{checked talent.checked}}>

              {{talent.label}}
            </div>
         </div>

        
        </div>


      </div>

      
    </div>

    <div class="talents-mineurs">
      <h4>talents mineurs (niv 1)</h4>
      <div class="flexrow">
        {{#each systemTemplate.Actor.templates.talents.talents as |domaine
        domaineId|}}
        <div class="flexcol">
          <h5>{{domaineId}}</h5>
          {{#each domaine as |talent talentId|}}
          <div class="flexrow">
            <input value="true"
              class="talent-mineur" type="checkbox"
              name="system.talentsMineurs.{{talentId}}.value"
              data-talent="{{talentId}}"/>
            <label for="system.talentsMineurs.{{talentId}}">{{talent.label}}</label>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>



  </section>
</form>
